body{
    font-family: 'Dancing Script', cursive;
    padding: 10px;
}
h2{
    font-weight: 1000;
}

.contenedor{
    margin: 0 auto;
    width: 90% ;
}

.flex{
    display: flex;
    
    flex-wrap: wrap;/*Los elementos flex son colocados en varias líneas.*/
}

.textoEnElCentro{
    text-align: center;
}
.columna{
    background: crimson;/*fondo*/
    color: black ;/*color de texto*/
    border: 1px solid gainsboro; /*color de borde*/
    margin: 0 auto;/*margenes*/
    padding: 10px;
    border-radius: 50px; /*bordes redondeados*/

    /*box-shadow mozilla  Para dar sombreado;*/
    /* ejeY   ejeY   [degradado] color*/
    box-shadow: 10px 10px grey;
    width: 23%; /*Para que solo usen un porcentaje del maximo disponible*/
    box-sizing: border-box; /* calcular el ancho y alto total de un elemento ,pero no el margen.*/
}
.precio{
    font-size: 50px;
    color: burlywood;
}

.boton-precio{
background: indigo;
/*cambia y abarca a todo el cuadrado*/
display: block;
padding: 10px;
color: ivory;
/*saco el subrayado del hipervinculo*/
text-decoration: none;
/*redondeo de boton*/
border-radius: 50px;
/*distancia con la parte inferior del cuadro*/
margin-bottom: 10px;
}

.boton-precio:hover{
    background: red;
}
@media(width:calcular(25%-20px)){
/*@media(max-width :1070px){*/
    .columna{
        width: 46%;
        margin-bottom: 20px;
    }
}

@media(max-width :600px){
    .columna{
        width: 100%;
    }
}