body{
    font-family: 'Dancing Script', cursive;
    padding: 10px;
}
h2{
    font-weight: 1000;
}

.contenedor{
    margin: 0 auto;
    width: 90% ;
}

.flex{
    display: flex
}

.textoEnElCentro{
    text-align: center;
}
.columna{
    background: crimson;/*fondo*/
    color: black ;/*color de texto*/
    border: 1px solid gainsboro; /*color de borde*/
    margin: 10px;/*margenes*/
    padding: 10px;
    border-radius: 50px; /*bordes redondeados*/

    /*box-shadow mozilla  Para dar sombreado;*/
    /* ejeY   ejeY   [degradado] color*/
    box-shadow: 10px 10px grey;

}
.precio{
    font-size: 50px;
    color: burlywood;
}

.boton-precio{
background: indigo;
/*cambia y abarca a todo el cuadrado*/
display: block;
padding: 10px;
color: ivory;
/*saco el subrayado del hipervinculo*/
text-decoration: none;
/*redondeo de boton*/
border-radius: 50px;
/*distancia con la parte inferior del cuadro*/
margin-bottom: 10px;
}

.boton-precio:hover{
    background: red;
}